{{#each reviews as |reviews| }}
<div class="row mb-4 review" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">

  <div class="col-md-5">
    <h2> {{reviews.name}} </h2>
  <div class="col-md-7" style="text-align: center; margin-top: -5px;">
    <p>
      ${{reviews.gift_price}}
    </p>
  </div>

    <p>Created by {{reviews.user.name}} on {{format_date reviews.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{reviews.description}}
    </p>
  </div>
  <div class="col-md-7">
    <a href="#"> 
      {{reviews.purchase_location}} 
    </a>
  </div>
</div>
{{/each}}

<script src="/js/homepage.js"></script>