<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h2>Give your gift reviews!</h2>

    <form class="form new-gift-form">
      <div class="form-group">
        <label for="gift-name">Gift Name:</label>
        <input class="form-input" type="text" id="gift-name" name="gift-name" />
      </div>
      <div class="form-group">
        <label for="gift-price">Gift Price ($):</label>
        <input class="form-input" type="text" id="gift-price" name="gift-price" />
      </div>
      <div class="form-group">
        <label for="gift-desc">Description:</label>
        <textarea class="form-input" type="text" id="gift-desc" name="gift-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>





  

  {{#each reviews as |reviews| }}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2> {{reviews.name}} </h2>
      <p>Created by {{reviews.user.name}} on {{format_date reviews.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{reviews.description}}
      </p>
    </div>
  </div>
  {{/each}}


</div>

<script src="/js/profile.js"></script>
